
/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system_ui, sans-serif;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}